.gear-image,
  .sec-services img {
    margin: 0 auto
    }
  .cust-title,
    .fs-32 {
      font-family: "Playfair Display",serif;
      font-size: 32px
      }
    .approach-text,
      .cust-title,
        .sec-services {
          text-align: center
          }
        .gear-image {
          display: block
          }
        .cust-title {
          color: #fdfdfd
          }
        .fs-32 {
          color: #0cf
          }
        .fs-30 {
          font-size: 25px
          }
        .fc-secondary {
          color: #fdfdfd;
          font-size: 20px;
          display: inline-grid;
          margin-top: auto;
          padding-top: 12px;
          top: auto
          }
        .border-grey {
          color: #4e5c6b
          }
        .fc-primary {
          color: #87a5a4
          }
        .fc-white {
          color: #fefefe
          }
        .lecture {
          padding-top: 35px
          }
        .schedule-consultation {
          display: block;
          margin-top: 25px
          }
        .fc-info {
          color: #5f9aa1
          }
        .f-bold.fc-info {
          font-weight: 800
          }
        .f-bold {
          font-weight: 700
          }
        .footer-logo {
            width: 250px;
            }
        .flex-wrap.contact-mobile {
          display:flex;
        }
        @media (max-width:576px) {
          .gear-image {
            width: 380px
            }
          .services-images {
            height: 150px
            }
          .eval-cards {
            height: 300px !important;
            }
          .footer-logo {
            z-index: 0;
            width: 210px !important;
            }
          .navbar-burger {
            margin: 10px auto;
            width: 80%
            }
          .services-parent-mobile {
            display: grid;
            place-items: center;
            }
          .lightbulb-mobile {
            padding: 10px 0 0 0 !important;
            height: 150px !important;
            }
          .pr-8 {
            padding-right: 2rem !important;
            }
          .profile-pic-mobile {
            height: 250px !important;
            padding-left: 85px !important;
            }
          .about-me {
            padding: 0 1.25rem !important;
            }
          .contact-mobile {
            display: flow-root !important;
            text-align: center !important;
            }
          .contact-us-header-mobile {
            text-align: center !important;
            margin-bottom: 50px !important;
            }
          .mobile-psuedo-border-bottom {
            background: linear-gradient(to right, rgb(78, 92, 107) 50%, rgb(78, 92, 107) 78%) bottom center / 70% 2px no-repeat !important;
            padding-bottom: 5px;
            padding-top: 10px;
            }
          .last-mobile-psuedo-border-bottom {
            padding-bottom: 10px;
            padding-top: 10px;
            }
            .text-primary.contact-p {
              padding: 0 7px !important;
            }
            .p-16.cta-contact {
              padding: 0 18.5% 43px !important;
            }
            .navbar-brand {
              margin-right: 0 !important;
            }
            .mobile-navbar-brand img {
              height: 58px !important;
            }
          }

