html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap", rel="stylesheet")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Alegreya+Sans:400|Playfair+Display:400i,400,500,500i,600,600i,700,700i,800,800i,900,900i&subset=latin,cyrillic,latin-ext,vietnamese")
        link(rel="stylesheet", href="css/bootstrap/bootstrap.min.css")
        link(rel="stylesheet", href="css/main.css")
        link(rel="icon", type="image/png", sizes="32x32", href="shuffle-for-bootstrap.png")
    body
        div(class="")
            section(class="")
                nav(class="navbar navbar-expand-lg navbar-light")
                    div(class="container border-bottom")
                        a(class="navbar-brand", href="#")
                            img(class="img-fluid h-25", style="height: 24px;", src="images/Long-Logo-7-png-1758139895821.webp", alt="")
                        button(class="btn navbar-burger border-success", type="button")
                            svg(width="24", height="24", viewbox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
                                path(d="M4 6H20M4 12H20M13 18H20", stroke="currentColor", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                div(class="navbar-menu position-fixed top-0 start-0 bottom-0 w-100 mw-sm", style="z-index: 9999;")
                    div(class="navbar-close navbar-backdrop position-fixed top-0 start-0 end-0 bottom-0", style="opacity: 75%;")
                    nav(class="position-relative h-100 w-100 d-flex flex-column pt-5 pb-10 px-8 bg-white overflow-auto")
                        div(class="d-flex align-items-center")
                            a(class="me-auto h4 mb-0 text-decoration-none", href="#")
                                img(class="img-fluid h-100", style="height: 24px;", src="images/Large-Logo-jpeg-1758906802655.webp", alt="")
                            |               
                            a(class="navbar-close", href="#")
                                svg(width="32", height="32", viewbox="0 0 32 32", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M23.2 8.79999L8.80005 23.2M8.80005 8.79999L23.2 23.2", stroke="#1D1F1E", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                        div(class="pt-20 pb-12")
                            ul(class="nav flex-column")
                                li(class="nav-item mb-4")
                                    a(class="btn-link fs-medium text-decoration-none", href="#") Home
                                li(class="nav-item mb-4")
                                    a(class="btn-link fs-medium text-decoration-none", href="#") Services
                                li(class="nav-item mb-4")
                                    a(class="btn-link fs-medium text-decoration-none", href="#") About
                                li(class="nav-item mb-4")
                                    a(class="btn-link fs-medium text-decoration-none", href="#") Contact
                                li(class="nav-item mb-4")
                                    a(class="btn-link fs-medium text-decoration-none", href="#") FAQ
                        div(class="d-flex mt-auto flex-wrap align-items-center justify-content-between")
            section(data-from-ai="false", class="bs-section-dragged")
                div(class="container")
                    h1(class="font-heading text-center pt-8", style="letter-spacing: -1.2px;") Services Offered
                    div(class="rounded-3 p-8 p-md-16 mb-12 overflow-hidden bg-white")
                        div(class="pb-8 border-bottom border-light mb-8 rounded-3 bg-secondary")
                            div(class="d-flex align-items-center justify-content-between gap-4 removed bg-white border-bottom")
                                h4(class="p-2 ps-4") Psychoeducational Evaluations
                            p(class="pt-8 ps-8 pr-8") Comprehensive and thorough assessments tailored to pinpoint your learner's specific strengths and areas for growth. This assessment process results in a comprehensive report and consultation session to review the results and recommendations:
                            div(data-from-ai="false", class="row")
                                div(class="col-12 col-lg-9")
                                    ul(class="mb-0 p-6 list-group ms-12 gap-3")
                                        li(class="") Attention Deficit Hyperactivity Disorder (ADHD) & Executive Functioning
                                        li Learning Disorders i.e. Dyslexia, Dysgraphia, Dyscalculia, etc.
                                        li Autism Spectrum Disorder
                                        li Social Emotional & Behavioral Needs
                                div(class="col-12 col-lg-3 services-parent-mobile")
                                    img(data-from-ai="false", class="img-fluid p-4 psychoed-eval-logo-mobile", src="images/Untitled-88-png-1759117046289.webp", alt="alt")
                        div(class="border-bottom border-light mb-8 border-bottom bg-secondary rounded-3 pb-8")
                            div(class="d-flex align-items-center justify-content-between gap-4 removed ps-4 border-bottom bg-white")
                                h4 Intelligence Assessments
                            div(class="row")
                                div(class="col-12 col-lg-2 services-parent-mobile")
                                    img(class="img-fluid ps-10 pt-8 lightbulb-mobile", src="images/Untitled-lightbulb-png-1759102750576.webp", alt="alt")
                                div(class="col-12 col-lg-10 removed")
                                    p(class="mb-0 ps-8 pr-8 pt-8") IQ testing to determine student’s overall intelligence for the purpose of entrance into private schools or programs for bright individuals.  Some may seek this information for their own information as well. 
                                    p(data-from-ai="false", class="mb-0 ps-8 pr-8 pt-3") A more abbreviated assessment that includes interviews, review of records, and direct intelligence testing. A brief report is included with a consultation session to review results and recommendations.
                            div(class="d-flex mw-lg mw-lg-3xl mt-4")
                        div(class="pb-8 border-bottom border-light mb-8 bg-secondary rounded-3")
                            div(class="d-flex align-items-center justify-content-between gap-4 border-bottom bg-white")
                                h4(class="ps-4") Consultation Services
                            div(class="d-flex mw-lg mw-lg-3xl mt-4")
                            div(class="row")
                                div(class="pt-8 col-12 col-lg-6")
                                    h6(class="ps-8") Parents and Students
                                    p(class="mb-0 ps-8 pr-8") Navigating your child’s education can be overwhelming and frustrating. Our goal is to empower you as a vital member of the educational team through: 
                                    ul(class="mb-0 d-flex flex-column p-6 list-group ms-12 gap-3")
                                        li(class="") Review of assessment reports/IEPs/504 Plans
                                        li Inform you of what may be available for your child
                                        li Prepare you to productively work with school teams by outlining questions, goals, concerns, and better understanding of complex school systems.
                                div(class="col-12 pt-8 col-lg-5")
                                    img(class="img-fluid rounded-5", src="images/AdobeStock-1433891528-jpeg-1759104873537.webp", alt="alt")
                                    h6(class="pt-4 ps-8") Educators
                                    p(class="ps-8 pr-8") Following completion of a comprehensive assessment, consultation with school staff to discuss effective strategies for supporting individual student needs. This is separate from the evaluation and requires agreement from the school team to participate.
                        div(class="pb-8 border-bottom border-light mb-8 bg-secondary rounded-3")
                            div(class="d-flex align-items-center justify-content-between gap-4 border-bottom bg-white")
                                h4(class="ps-4") District Supports
                            div(class="d-flex mw-lg mw-lg-3xl mt-4 removed")                                         
                            |                                       
                            div(data-from-ai="false", class="row")
                                div(class="col-12 pt-8 align-content-center removed col-lg-10")
                                    h6(data-from-ai="false", class="ps-8") Independent Educational Evaluations (IEEs): 
                                    p(data-from-ai="false", class="ps-8 pb-4 pr-8") We may be contracted by a school district for a second opinion in the form of an IEE. All requests for IEEs must go through the school district.
                                    h6(data-from-ai="false", class="ps-8") Overflow Assessment Support: 
                                    p(data-from-ai="false", class="ps-8 pr-8") With budgetary and staffing challenges, districts at times do require additional support during peaks of assessment caseloads.
                                div(class="col-12 col-lg-2 align-content-center services-parent-mobile")
                                    img(data-from-ai="false", class="img-fluid", src="images/Untitled-77-png-1759117203917.webp", alt="alt")
                        div(class="bg-secondary rounded-3")
                            div(class="d-flex align-items-center justify-content-between gap-4 border-bottom bg-white")
                                h4(class="ps-4") Professional Development
                            p(data-from-ai="false", class="p-8") Training and mentorship available for school psychologists, special education teachers, and general education teachers in both the public and private school settings.  Inquire for more information or with the area of training in need.
                            img(data-from-ai="false", class="img-fluid pb-4", src="images/AdobeStock-979556237-jpeg-1759106854731.webp", alt="alt")
                            div(class="d-flex mw-lg mw-lg-3xl mt-4")                                         
                            |                                       
                    p(class="text-center fw-medium")
            section(class="position-relative overflow-hidden bg-secondary removed bg-white")
                div(class="row")
                    div(class="align-content-lg-center p-6 col-lg-8 bg-success")
                        h4(class="text-center p-8 fc-white") You are not alone. We are here to help you navigate your learner’s unique educational journey.
                    div(class="col-lg-4 p-16 bg-info bg-success-dark")
                        a(class="btn btn-info", href="mailto:ashley@learnwisepsychology.com") Schedule a Free Consultation
                div(class="container position-relative removed")
                    div(class="d-flex flex-wrap removed justify-content-between pt-2 gap-0")
                        ul(class="list-unstyled flex-column gap-4 align-content-end")
                            li(class="mb-2 btn-link")
                                a(href="https://www.psychologytoday.com/profile/1616952") Psychology Today
                            li(class="mb-2 btn-link")
                                a(href="https://casponline.org/lep-directory/duval-ashley/") CASP LEP Directory
                            li(class="text-dark-light mw-xs btn-link")
                                a(href="https://www.linkedin.com/company/learnwise-educational-psychology") LinkedIn
                        img(class="rounded-5 img-fluid w-25 pb-3 footer-logo", src="images/Large-Logoclear-png-1759508707319.webp", alt="alt")
                    div(class="row")
                        div(class="col-12 col-lg-6 mb-16 mb-lg-0")
                        div(class="col-12 col-lg-6 align-self-end removed")
        script(src="js/bootstrap/bootstrap.bundle.min.js")
        script(src="js/main.js")
